ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 1600px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header-position {
  display: flex;
  align-items: center;
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.web-studio__logo-web {
  color: #2196f3;
}

.web-studio__logo-studio {
  color: #000000;
}

.navigation__nav-list {
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
}

.navigation__web-pages {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  padding: 32px 0 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__web-pages:hover {
  color: #2196f3;
}

.navigation__web-pages:hover:after {
  cursor: pointer;
  position: absolute;
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  bottom: 0;
}

.info {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.info__header-contact:hover .info__header-icon {
  fill: #2196f3;
}

.info__header-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.02em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__header-contact:hover {
  color: #2196f3;
}

.bussines {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  margin: 0 auto;
  background-image: url(../images/Working-office.png);
}

.bussines-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 30px;
  width: 696px;
  margin: 0 auto;
}

.bussines-button {
  display: block;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.backdrop {
  background-color: rgba(47, 48, 58, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.button--exit {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--exit__icon:hover {
  fill: #2196f3;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal__item {
  position: relative;
}

.modal__text {
  display: inline-block;
  margin-left: 9px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
}

.modal__input:focus {
  border-color: #2196f3;
}

.modal__input:focus ~ .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  fill: #212121;
  top: 35px;
  left: 20px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list__modal-icon:hover {
  fill: #2196f3;
}

.modal-list__modal-icon {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 10px;
  resize: none;
}

.modal__area {
  width: 448px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.modal__area:focus {
  border-color: #2196f3;
}

.modal-list__modal-checkbox {
  width: 16px;
  height: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:hover {
  fill: #2196f3;
}

.agree__wrapper {
  display: flex;
  align-items: center;
}

.agree__text {
  display: inline-block;
  margin-left: 9px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.modal__button {
  display: block;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.web-attention {
  padding-top: 94px;
  padding-bottom: 94px;
}

.web--attention__list {
  display: flex;
  column-gap: 30px;
}

.web--attention__item {
  flex-basis: calc((100% - 90px) / 4);
}

.web--attention__wrapper {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.web--attention__title {
  column-gap: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.web--attention__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.web-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0 auto;
}

.web--doing__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.gadgets-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.gadgets--list__item {
  position: relative;
}

.gadgets--list__title {
  position: relative;
  bottom: 163px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  padding: 27px 0;
  color: #fff;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.7));
}

.gadgets--list__imgs {
  width: 370px;
  height: 294px;
  margin-bottom: 94px;
}

.web--team__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.teamets-list {
  display: flex;
  column-gap: 30px;
}

.teamets--list__item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.teamets--list__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 30px;
}

.teamets--list__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

.teammates-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teammates-link:hover {
  background-color: #2196f3;
}

.socials--list__icon {
  fill: #afb1b8;
}

.teammates-link:hover .socials--list__icon {
  fill: #fff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0 auto;
}

.clients__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.clients-list {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}

.clients--list__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients--list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #757575;
  border-radius: 3px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--list__link:hover {
  border: 1px solid #2196f3;
}

.clients--list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients--list__link:hover .clients--list__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background: #2f303a;
}

.footer-container {
  display: flex;
}

.address--container__link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address--container__logo-w {
  color: #2196f3;
}

.address--container__logo-s {
  color: #ffffff;
}

.web-address {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
}

.footer--list__email {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer--list__number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join-container {
  margin-left: 70px;
  padding-right: 93px;
}

.join--container__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.join-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.join--list__item:hover {
  background-color: #2196f3;
  background-size: 44px;
  border-radius: 50%;
}

.join--list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join--list__link:hover {
  background-color: #2196f3;
}

.join--list__icon {
  fill: #fff;
}

.form {
  margin-top: 12px;
  color: red;
}

.form__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  padding-left: 16px;
}

.form__button {
  border-radius: 4px;
  width: 200px;
  padding: 10px 28px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 12px;
  position: relative;
}

.form__span {
  margin-right: 10px;
}

.form__icon {
  fill: #fff;
  position: absolute;
  top: 13px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__title {
  display: none;
}

.projects__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.projects__button {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__button:hover {
  background-color: #2196f3;
  color: #fff;
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.project__item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.project__overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

.project__item:hover .overlay__text {
  transform: translateY(0);
}

.project--item__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project__name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.project__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */