.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background: #2f303a;
}
.footer-container {
  display: flex;
}
.web-studio-f {
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-web-f {
  color: #2196f3;
}
.logo-studio-f {
  color: #ffffff;
}
.join-container {
  margin-left: 70px;
  padding-right: 93px;
}
.join-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 12px;
}
.join-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.join-item:hover {
  background-color: #2196f3;
  background-size: 44px;
  border-radius: 50%;
}
.join-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-link:hover {
  background-color: #2196f3;
}
.footer-icon {
  fill: #fff;
}
.web-address {
  margin-top: 20px;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
}
.email {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.number {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form {
  margin-top: 12px;
  color: red;
}
.form-title {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  padding-left: 16px;
}
.form-button {
  border-radius: 4px;
  width: 200px;
  padding: 10px 28px;
  background-color: #2196f3;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 12px;
  position: relative;
}
.form-span {
  margin-right: 10px;
}
.form-icon {
  fill: #fff;
  position: absolute;
  top: 13px;
}